<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-4.2.xsd
                        http://www.springframework.org/schema/aop
                        http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
                        http://www.springframework.org/schema/cache
                        http://www.springframework.org/schema/cache/spring-cache-4.2.xsd">

    <context:annotation-config />
    <aop:aspectj-autoproxy/>
    <context:component-scan base-package="io.mykit.cache.redis.spring"/>
    <!-- 启用缓存注解功能，这个是必须的，否则注解不会生效，另外，该注解一定要声明在spring主配置文件中才会生效 -->
    <cache:annotation-driven cache-manager="cacheManager" key-generator="cacheKeyGenerator"/>

    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxTotal" value="${redis.cluster.max.total}" />
        <property name="maxIdle" value="${redis.cluster.max.idle}" />
        <property name="minIdle" value="${redis.cluster.min.idle}" />
        <property name="blockWhenExhausted" value="${redis.cluster.blockWhenExhausted}"/>
        <property name="maxWaitMillis" value="${redis.cluster.maxWaitMillis}" />
        <property name="testOnBorrow" value="${redis.cluster.testOnBorrow}" />
        <property name="testOnReturn" value="${redis.cluster.testOnReturn}" />
        <property name="testWhileIdle" value="${redis.cluster.testWhileIdle}" />
        <property name="minEvictableIdleTimeMillis" value="${redis.cluster.minEvictableIdleTimeMillis}" />
        <property name="timeBetweenEvictionRunsMillis" value="${redis.cluster.timeBetweenEvictionRunsMillis}" />
        <property name="numTestsPerEvictionRun" value="${redis.cluster.numTestsPerEvictionRun}" />
    </bean>

    <!--配置文件加载-->
 <!--   <bean id="resourcePropertySource" class="org.springframework.core.io.support.ResourcePropertySource">
        <constructor-arg name="name" value="redis.properties"/>
        <constructor-arg name="resource" value="classpath:properties/redis.properties"/>
    </bean>-->

    <!--redisCluster配置-->
    <bean id="redisClusterConfiguration" class="org.springframework.data.redis.connection.RedisClusterConfiguration">
        <property name="maxRedirects" value="3"></property>
        <property name="clusterNodes">
            <set>
                <bean class="org.springframework.data.redis.connection.RedisNode">
                    <constructor-arg name="host" value="${redis.cluster.node.one}"></constructor-arg>
                    <constructor-arg name="port" value="${redis.cluster.node.one.port}"></constructor-arg>
                </bean>
                <bean class="org.springframework.data.redis.connection.RedisNode">
                    <constructor-arg name="host" value="${redis.cluster.node.two}"></constructor-arg>
                    <constructor-arg name="port" value="${redis.cluster.node.two.port}"></constructor-arg>
                </bean>
                <bean class="org.springframework.data.redis.connection.RedisNode">
                    <constructor-arg name="host" value="${redis.cluster.node.three}"></constructor-arg>
                    <constructor-arg name="port" value="${redis.cluster.node.three.port}"></constructor-arg>
                </bean>
                <bean class="org.springframework.data.redis.connection.RedisNode">
                    <constructor-arg name="host" value="${redis.cluster.node.four}"></constructor-arg>
                    <constructor-arg name="port" value="${redis.cluster.node.four.port}"></constructor-arg>
                </bean>
                <bean class="org.springframework.data.redis.connection.RedisNode">
                    <constructor-arg name="host" value="${redis.cluster.node.five}"></constructor-arg>
                    <constructor-arg name="port" value="${redis.cluster.node.five.port}"></constructor-arg>
                </bean>
                <bean class="org.springframework.data.redis.connection.RedisNode">
                    <constructor-arg name="host" value="${redis.cluster.node.six}"></constructor-arg>
                    <constructor-arg name="port" value="${redis.cluster.node.six.port}"></constructor-arg>
                </bean>
                <bean class="org.springframework.data.redis.connection.RedisNode">
                    <constructor-arg name="host" value="${redis.cluster.node.seven}"></constructor-arg>
                    <constructor-arg name="port" value="${redis.cluster.node.seven.port}"></constructor-arg>
                </bean>

            </set>
        </property>
    </bean>

    <!-- redis服务器中心 -->
    <bean id="connectionFactory"  class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory" >
        <constructor-arg name="clusterConfig" ref="redisClusterConfiguration"/>
        <constructor-arg name="poolConfig" ref="jedisPoolConfig"/>
        <property name="password" value="${redis.cluster.password}" />
        <property name="timeout" value="${redis.cluster.timeout}" ></property>
    </bean >

    <bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate" >
        <property name="connectionFactory" ref="connectionFactory" />
        <!--如果不配置Serializer，那么存储的时候缺省使用String，如果用User类型存储，那么会提示错误User can't cast to String！！  -->
        <property name="keySerializer" >
            <bean class="io.mykit.cache.redis.spring.serializer.StringRedisSerializer" />
        </property>
        <property name="valueSerializer" >
            <bean class="org.springframework.data.redis.serializer.JdkSerializationRedisSerializer" />
        </property>
        <property name="hashKeySerializer">
            <bean class="io.mykit.cache.redis.spring.serializer.StringRedisSerializer"/>
        </property>
        <property name="hashValueSerializer">
            <bean class="org.springframework.data.redis.serializer.JdkSerializationRedisSerializer"/>
        </property>
    </bean >


    <!--配置CacheTime类-->
    <bean id="cacheTime" class="io.mykit.cache.redis.spring.cache.CacheTime">
        <constructor-arg index="0" value="${redis.cluster.expirationSecondTime}"/>
        <constructor-arg index="1" value="${redis.cluster.preloadSecondTime}"/>
    </bean>

    <!--配置的默认Key生成策略-->
    <bean id="cacheKeyGenerator" class="io.mykit.cache.redis.spring.cache.CacheKeyGenerator"/>

    <bean id="cachingAnnotationsAspect" class="io.mykit.cache.redis.spring.cache.CachingAnnotationsAspect"/>

    <!-- spring自己的缓存管理器，这里定义了缓存位置名称 ，即注解中的value -->
    <bean id="cacheManager" class="io.mykit.cache.redis.spring.cache.CustomizedRedisCacheManager">
        <constructor-arg index="0" ref="redisTemplate"/>
        <property name="defaultExpiration" value="${redis.cluster.redisDefaultExpiration}"/>
        <property name="usePrefix" value="${redis.cluster.usePrefix}"/>
        <!--配置默认的缓存时间信息-->
        <property name="cacheTimes">
            <map>
                <entry key="${redis.cluster.defaultExpirationKey}" value-ref="cacheTime"/>
            </map>
        </property>
    </bean>

</beans>